[submodule "Packages/PoseClipboard"]
	path = Packages/PoseClipboard
	url = git@github.com-hedgewizards:hedgewizards/PoseClipboard.git
[submodule "Packages/com.wfowler1.unity3d-bsp-importer"]
	path = Packages/com.wfowler1.unity3d-bsp-importer
	url = git@github.com-hedgewizards:hedgewizards/Unity3D-BSP-Importer.git
